<div style="min-height:100%;padding-bottom:200px" class="bg-grayLighter">


    <div class="grid condensed bg-darkCobalt" style="margin-top:3.125rem;margin-bottom:0">
        <div class="row">
            <div class="cell">
                <div class="grid condensed" style="margin-top:0;margin-bottom:0">
                    <div class="row">
                        <div class="presenter" data-role="presenter" data-height="220" data-easing="swing">
                            <div class="scene">
                                <div class="act bg-darkEmerald fg-white">
                                    <img src="~/images/home/5.jpg" class="actor" data-position="10,10" style="height: 200px">
                                    <h1 class="actor" data-position="10,420">Phong cách thời thượng</h1>
                                    <p class="actor" data-position="70,420">Những chiếc túi làm bằng chất liệu cao cấp, sẵn sàng hài lòng những ai khó tính nhất</p>
                                    <p class="actor" data-position="130,420">Sở hữu những kiểu dáng hợp thời trang, giúp cho bạn cực kì tự tin khi mang</p>
                                </div>
                                <div class="act bg-steel fg-white">
                                    <img src="~/images/home/10.jpg" class="actor" data-position="10,10" style="height: 200px">
                                    <h1 class="actor" data-position="10,270">Thiết kế mới nhất</h1>
                                    <p class="actor" data-position="60,270">Cửa hàng chúng tôi luôn cập nhập những mẫu sản phẩm mới nhất trên thị trường</p>
                                    <p class="actor" data-position="120,270">Bạn sẽ không hối tiếc khi sở hữu một trong những mẫu túi thời trang tốt nhất ở đây đâu!</p>
                                </div>
                                <div class="act bg-darkIndigo fg-white">
                                    <img src="~/images/home/8.jpg" class="actor" data-position="10,10" style="height: 200px">
                                    <h1 class="actor" data-position="10,350">Hỗ trợ khách hàng tận tình</h1>
                                    <p class="actor" data-position="60,350">Nếu bạn đang đắn đo nên chọn mẫu túi nào phù hợp, chúng tôi sẵn sàng hỗ trợ bạn bất kỳ lúc nào</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="grid condensed" style="margin:10px">
        <div class="row cells12">
            <div class="cell colspan3">
                <div class="row" style="padding-right:10px">
                    <ul class="sidebar2" style="max-width:none">
                        <li class="stick bg-grayLight sidebar-update">
                            <a class="dropdown-toggle" href="#">Loại sản phẩm</a>
                            <ul class="d-menu" style="max-width:none" data-role="dropdown">
                                @Html.Action("PartialList", "Category")
                            </ul>
                        </li>
                        <li class="stick bg-grayLight">
                            <a class="dropdown-toggle" href="#">Nhà sản xuất</a>
                            <ul class="d-menu" style="max-width:none" data-role="dropdown">
                                @Html.Action("PartialList", "Manufacturer")
                            </ul>
                        </li>
                    </ul>
                </div>
               
            </div>
            <div class="cell colspan9">
                <div class="row">
                    <div class="tile-container bg-darkCyan">
                        <div class="tile-small bg-darkCyan fg-white" data-role="tile">
                            <div class="tile-content iconic">
                                <span class="icon mif-money"></span>
                            </div>
                        </div>
                        <p class="sub-header fg-white" style="margin-left:100px">Sản phẩm bán chạy</p>
                    </div>
                    @Html.Action("PartialViewTopSale", "Product")


                    <div class="tile-container bg-darkCyan" style="margin-top:10px">
                        <div class="tile-small bg-darkCyan fg-white" data-role="tile">
                            <div class="tile-content iconic">
                                <span class="icon mif-enter"></span>
                            </div>
                        </div>
                        <p class="sub-header fg-white" style="margin-left:100px">Sản phẩm mới</p>
                    </div>
                    @Html.Action("PartialViewTopNew", "Product")

                    <div class="tile-container bg-darkCyan" style="margin-top:10px">
                        <div class="tile-small bg-darkCyan fg-white" data-role="tile">
                            <div class="tile-content iconic">
                                <span class="icon mif-eye"></span>
                            </div>
                        </div>
                        <p class="sub-header fg-white" style="margin-left:100px">Sản phẩm xem nhiều</p>
                    </div>
                    @Html.Action("PartialViewTopView", "Product")
                </div>
                
            </div>
        </div>
    </div>

    <div style="width:100%;position:absolute;bottom:0;left:0">
        <div>
            <div class="presenter" data-role="presenter" data-height="100" data-easing="easeInExpo">
                <div class="scene">
                    <div class="act ribbed-darkEmerald fg-white">
                        <h1 class="actor" data-position="10,10">Thông tin website</h1>
                        <p class="actor" data-position="70,10">Được thực hiện bởi Huỳnh Chánh Kiệt</p>
                        <p class="actor" data-position="95,10">Sử dụng bộ CSS <a class="fg-yellow" href="http://metroui.org.ua/">Metro</a></p>

                        <img src="~/images/home/5.jpg" class="actor" data-position="10,500" style="height: 130px">
                        <img src="~/images/home/6.jpg" class="actor" data-position="50,800" style="height: 100px">
                        <img src="~/images/home/7.jpg" class="actor" data-position="30,990" style="height: 80px">
                    </div>
                    <div class="act ribbed-grayDark fg-white">
                        <h1 class="actor" data-position="10,10">Liên hệ cửa hàng</h1>
                        <p class="actor" data-position="70,10">Phone <span class="fg-amber">+1900-1560</span></p>
                        <p class="actor" data-position="95,10">Địa chỉ: 18/5 Phường 12, đường Võ Thị Sáu</p>
                        <img src="~/images/home/8.jpg" class="actor" data-position="10,500" style="height: 130px">
                        <img src="~/images/home/9.jpg" class="actor" data-position="50,750" style="height: 100px">
                        <img src="~/images/home/10.jpg" class="actor" data-position="30,950" style="height: 80px">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






