@using QLBH_MVC.Models

@model List<product>
<div id="page-info" data-id="@ViewBag.CurPage"></div>
<div>
    <table class="table hovered" id="table">
        <thead>
            <tr>
                <th>
                    Mã
                </th>
                <th>
                    Hình ảnh
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Loại sản phẩm
                </th>
                <th>
                    Nhà sản xuất
                </th>
                <th>
                    Ngày thêm
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (product p in Model)
            {
                <tr>
                    <td>
                        @p.ProId
                    </td>
                    <td>
                        <img style="height:50px" src="~/images/product/@p.ProId/img.jpg" />
                    </td>
                    <td>
                        @p.ProName
                    </td>
                    <td>
                        @p.NewPrice
                    </td>
                    <td>
                        @p.Quantity
                    </td>
                    <td>
                        @p.category.CatName
                    </td>
                    <td>
                        @p.manufacturer.MaName
                    </td>

                    <td>
                        @p.DateAdd.ToShortDateString()
                    </td>
                    <td>
                        <button class="button btn-load-product" data-id="@p.ProId" data-toggle="modal" data-target="#updateProduct"><span class="mif-pencil"></span></button>
                    </td>
                    <td>
                        <button class="button btn-remove-product" data-id="@p.ProId"><span class="mif-cross"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table').dataTable(
            {
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ mục một trang",
                    "zeroRecords": "Không tồn tại",
                    "info": "Đang hiển thị trang _PAGE_ / _PAGES_",
                    "infoEmpty": "Không có",
                    "search": "Tìm kiếm",
                    "paginate": {
                        "next": "Trang kế",
                        "previous": "Trang cũ"
                    }
                }
            });
    });

    $('.btn-load-product').click(function () {
        ajaxLoadProduct($(this).attr("data-id"));
    });

    $('.btn-remove-product').click(function () {
        id = $(this).attr('data-id');
        $.post("/Admin/RemoveProduct", { id: id }, function (data) {
            if (data.Success) {
                setTimeout(function () {
                    $.Notify({ type: 'success', caption: 'Thành công', content: data.Success });
                }, 200);

                page = $('#page-info').attr('data-id');
                $('#tableProduct').load("/Admin/TableProduct", { page: page });
            }

            if (data.Error) {
                setTimeout(function () {
                    $.Notify({ type: 'error', caption: 'Thất bại', content: data.Error });
                }, 200);
            }
        });
    });
</script>